@import "tailwindcss";

:root {
  --main-gradient: linear-gradient(to right, #eab308, #f97316);
}

body {
  background-color: #f3f4f6;
}

.custom-bg-main {
  background-image: var(--main-gradient);
}

.hover\:bg-main:hover {
  background-image: var(--main-gradient);
}

.custom-btn-bg-main {
  @apply px-4 py-2 rounded-md text-white cursor-pointer;
  background-image: var(--main-gradient); /* ใช้ตัวแปรที่สร้าง */
}

.custom-border-gray {
  @apply border-1 border-[#D1D5DB];
}

.custom-frame-content {
  @apply bg-white rounded-lg shadow-xs mt-5;
}

.custom-ellipsis-style {
  @apply whitespace-nowrap text-ellipsis overflow-hidden;
}
